/* Appearance of the entire webpage */
body {
    background: black;
}

/* Style the top navigation bar */
.topnav {
  overflow: hidden;
  background-color: rgb(182, 182, 182, 0.25);
}

/* Modify the appearance of clock, timer, and stopwatch buttons */
.feature_button {
    position:relative;
    background-color: Transparent;
    border: none;
    border-radius: 5px;
    color: white;
    padding: 10px 32px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    font-family: 'Times New Roman';
    margin: 4px 2px;
    cursor: pointer;
}

/* Modify appearance of the class clock*/
.clock {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translateX(-50%) translateY(-50%); 
    color: white;
    font-size: 60px;
    font-family: 'Times New Roman';
    letter-spacing: 7px;
}

/* Properties for time mode switch text */
.time_mode_text {
    color: white;
}

.timerInput{
    vertical-align: text-top;
    align-items: center;
    width: 7%;
    border-radius: 10px;
    border: 0px;
    font-family: 'Times New Roman';
    font-size: 60px;
    background: white;
    text-align: center;
}

.timerInput1{
  position: fixed;
  top: 45%;
  left: 39%; 
}

.timerInput2{
  position: fixed;
  top: 45%;
  left: 47%; 
}

.timerInput3{
  position: fixed;
  top: 45%;
  left: 55%; 
}

.timerButton{
    background: white;
    font-family: 'Times New Roman';
    font-size: 35px;
    border-radius: 10px;
    border: 0px;
    -webkit-transition-duration: 0.4s; 
    transition-duration: 0.4s;
    width: 150px;
}

.startButton:disabled {
  background: gray;
}

.timerButton:hover {
    background-color: rgb(88, 88, 88);
    color: rgb(84,199,252);
}

.button1{
    position: fixed;
    top: 56%;
    left: 34%;
}

.button2{
    position: fixed;
    top: 56%;
    left: 45%;
}

.button3{
    position: fixed;
    top: 56%;
    left: 56%;
}
/* The sidebar menu */
.sidebar {
    height: 100%; /* 100% Full-height */
    width: 0; /* 0 width - change this with JavaScript */
    position: fixed; /* Stay in place */
    z-index: 1; /* Stay on top */
    top: 0;
    left: 0;
    background-color: #111; /* Black*/
    overflow-x: hidden; /* Disable horizontal scroll */
    padding-top: 60px; /* Place content 60px from the top */
    transition: 0.5s; /* 0.5 second transition effect to slide in the sidebar */
  }
  
  /* The sidebar links */
  .sidebar a {
    padding: 8px 8px 8px 32px;
    text-decoration: none;
    font-size: 25px;
    font-family: 'Times New Roman';
    color: #818181;
    display: block;
    transition: 0.3s;
  }
  
  /* When you mouse over the navigation links, change their color */
  .sidebar a:hover {
    color: #f1f1f1;
  }
  
  /* Position and style the close button (top right corner) */
  .sidebar .closebtn {
    position: absolute;
    top: 0;
    right: 25px;
    font-size: 36px;
    font-family: 'Times New Roman';
    margin-left: 50px;
  }
  
  /* The button used to open the sidebar */
  .openbtn {
    font-size: 20px;
    font-family: 'Times New Roman';
    cursor: pointer;
    background-color: Transparent;
    color: white;
    padding: 10px 15px;
    border: none;
  }
  
  .openbtn:hover {
    background-color: rgb(190, 190, 190, 0.25);
  }
  
  /* Style page content - use this if you want to push the page content to the right when you open the side navigation */
  #main {
    transition: margin-left .5s; /* If you want a transition effect */
    padding: 20px;
  }
  
  /* On smaller screens, where height is less than 450px, change the style of the sidenav (less padding and a smaller font size) */
  @media screen and (max-height: 450px) {
    .sidebar {padding-top: 15px;}
    .sidebar a {font-size: 18px;}
  }
