body {
    background: black;
}

/* Modify appearance of the class clock*/
.clock {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translateX(-50%) translateY(-50%); 
    color: white;
    font-size: 60px;
    font-family: 'Times New Roman';
    letter-spacing: 7px;
}

/* Properties for time mode switch text */
.time_mode_text {
    color: white;
}

.timerInput{
    position: absolute;
    float: left;
    width: 7%;
    border-radius: 10px;
    border: 0px;
    font-family: 'Times New Roman';
    font-size: 60px;
    background: white;
    text-align: center;
    /* transform: translateX(-50%) translateY(-50%);  */
}

.timerButton{
    background: white;
    font-family: 'Times New Roman';
    font-size: 35px;
    border-radius: 10px;
    border: 0px;
    -webkit-transition-duration: 0.4s; 
    transition-duration: 0.4s;
    transform: translateY(800%);
}

.timerButton:hover {
    background-color: rgb(88, 88, 88);
    color: rgb(84,199,252);
}