/* Appearance of the entire webpage */
body {
    background: black;
}

/* Modify the appearance of clock, timer, and stopwatch buttons */
.feature_button {
    background-color: white;
    border: none;
    color: black;
    padding: 15px 32px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    margin: 4px 2px;
    cursor: pointer;
}

/* Modify appearance of the class clock*/
.clock {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translateX(-50%) translateY(-50%); 
    color: white;
    font-size: 60px;
    font-family: 'Times New Roman';
    letter-spacing: 7px;
}

/* Properties for time mode switch text */
.time_mode_text {
    color: white;
}
